/* Estilos específicos da página sensor.html */
.sensor-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 30px;
    margin: 30px auto; /* Adicionei margem superior de 30px */
    background-color: white;
    border-radius: 10px;
    border: 2px solid #4a7c3a;
    width: 90%; /* Adicionei largura relativa */
    max-width: 800px; /* Limite máximo de largura */
}

.sensor-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #dff0d8;
    border-radius: 10px;
    border: 2px solid #4a7c3a;
}

.sensor-item span {
    font-weight: bold;
}